@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  background: #fafafa;
}

a:link,
a:visited {
  @apply text-blue-500;
}

h3 {
  @apply italic;
}

.article {
  p {
    @apply my-4;
  }

  h3 {
    @apply text-2xl font-semibold font-sans not-italic;
  }

  h4 {
    @apply text-xl font-semibold font-sans mt-4 mb-1;
  }

  h4 + p {
    margin-top: 0;
  }
}
