---
layout: base.njk
title:
---

<main id="main" class="flex-grow font-mono max-w-5xl p-8">
  <header class="mb-7">
    <h1 class="font-semibold text-xl">degenlaws.eth</h1>
    <a href="https://twitter.com/degenlaws">@degenlaws</a>
  </header>
  <article class="space-y-3">
    <p>A non-profit initiative to aid NFT regulations and degen rights protection.</p>
    <p>
      The first draft of the
      <strong>Degen Consumer Rights Act (DCRA)</strong>
      will be published in May 2022.
    </p>
    <p>
      The list of DCRA compliant projects will follow shortly after the draft's approval.
    </p>
  </article>
</main>
